.statistics {
  width: 500px;
  height: 100%;
  margin: 50px;
  padding: 0;
  border: 1px solid black;
  align-items: center;
}

.statList {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  margin: 50px;
}

.title {
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  font-size: 18px;
  padding: 10px;
}

.label,
.percentage {
  padding: 5px;
  font-size: 18px;
}
